################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodingProblems/CopilotIndices/18.7.1225.11805
/.vs/CodingProblems.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CodingProblems
/CodingProblems/.vs
/CodingProblems/.vs/CodingProblems.csproj.dtbcache.json
/CodingProblems/bin/Debug
/CodingProblems/bin/Debug/CodingProblems.exe
/CodingProblems/bin/Debug/CodingProblems.exe.config
/CodingProblems/bin/Debug/CodingProblems.pdb
/CodingProblems/obj
/CodingProblems/obj/Debug
/CodingProblems/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CodingProblems/obj/Debug/CodingProblems.csproj.AssemblyReference.cache
/CodingProblems/obj/Debug/CodingProblems.csproj.CoreCompileInputs.cache
/CodingProblems/obj/Debug/CodingProblems.csproj.FileListAbsolute.txt
/CodingProblems/obj/Debug/CodingProblems.exe
/CodingProblems/obj/Debug/CodingProblems.pdb
/CodingProblems/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CodingProblems/obj/Release
/CodingProblems/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CodingProblems/obj/Release/CodingProblems.csproj.AssemblyReference.cache
/Factorial
/Factorial/bin/Debug
/Factorial/bin/Debug/Factorial.exe
/Factorial/bin/Debug/Factorial.exe.config
/Factorial/bin/Debug/Factorial.pdb
/Factorial/obj/Debug
/Factorial/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Factorial/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Factorial/obj/Debug/Factorial.csproj.AssemblyReference.cache
/Factorial/obj/Debug/Factorial.csproj.CoreCompileInputs.cache
/Factorial/obj/Debug/Factorial.csproj.FileListAbsolute.txt
/Factorial/obj/Debug/Factorial.exe
/Factorial/obj/Debug/Factorial.pdb
/GCDof2Nos/bin/Debug
/GCDof2Nos/obj/Debug
/Palindrome/bin/Debug
/Palindrome/obj
/Palindrome/obj/Debug
/Palindrome/obj/Release
/PrimeNumber
/PrimeNumber/bin/Debug
/PrimeNumber/obj/Debug
/ReverseAstring
/ReverseAstring/bin/Debug
/ReverseAstring/obj
/SecondLargestElementInArray
/SecondLargestElementInArray/bin/Debug
/SecondLargestElementInArray/bin/Debug/SecondLargestElementInArray.exe
/SecondLargestElementInArray/bin/Debug/SecondLargestElementInArray.exe.config
/SecondLargestElementInArray/bin/Debug/SecondLargestElementInArray.pdb
/SecondLargestElementInArray/obj
/SecondLargestElementInArray/obj/Debug
/SecondLargestElementInArray/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SecondLargestElementInArray/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SecondLargestElementInArray/obj/Debug/SecondLargestElementInArray.csproj.AssemblyReference.cache
/SecondLargestElementInArray/obj/Debug/SecondLargestElementInArray.csproj.CoreCompileInputs.cache
/SecondLargestElementInArray/obj/Debug/SecondLargestElementInArray.csproj.FileListAbsolute.txt
/SecondLargestElementInArray/obj/Debug/SecondLargestElementInArray.exe
/SecondLargestElementInArray/obj/Debug/SecondLargestElementInArray.pdb
/SecondLargestElementInArray/obj/Release
/SecondLargestElementInArray/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SecondLargestElementInArray/obj/Release/SecondLargestElementInArray.csproj.AssemblyReference.cache
/FindLongestWordInSentence
/FindLongestWordInSentence/bin/Debug
/FindLongestWordInSentence/obj
/SumDigitsOfaNumber/bin/Debug
/SumDigitsOfaNumber/obj/Debug
/FibonachiSequence/bin/Debug
/FibonachiSequence/obj/Debug
